/*

:placeholder-shown

@supports (display:grid)

mix-blend-mode: screen

:focus-within

flex-grow:9999 hack

grid-auto-flow, dense, object-fit

[class*="bg-"] -- all class names that begin with bg-

**** JS ****
Spread Operators???


*/
/*
This file is used to contain all vendor imports.
*/
/* Additonal Vendor Tools */
/*
This file is used to contain all abstracts imports.
Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.
*/
:root {
  --primary-font: Verdana, sans-serif;
  --body-margin: 20px;
  --body-border: 0px;
  --body-min-width: 375px;
  --body-max-width: 1024px;
  --body-height: calc(95vh - (var(--body-margin) * 2) - (var(--body-border) * 2));
  --gc_header_margin: 0px;
  --gc_header_padding: 0px;
  --gc_header_height: 40px;
  --gc_header_height_total: calc((var(--gc_header_margin) * 2) + (var(--gc_header_padding) * 2) + var(--gc_header_height));
  --gc_footer_margin: 0px;
  --gc_footer_padding: 0px;
  --gc_footer_height: 20px;
  --gc_footer_height_total: calc((var(--gc_footer_margin) * 2) + (var(--gc_footer_padding) * 2) + var(--gc_footer_height));
  --logo-width: 100px;
  --logo-height: var(--logo-width);
  --logo-switch-width: 500px;
  --cb-smooth: cubic-bezier(0.27, 0.01, 0.38, 1.06);
  --clr-black: hsla(0, 0%, 0%, 100%);
  --clr-white: hsla(0, 0%, 100%, 100%);
  /* Light Mode Theme Colours */
  --h-p-bg: 78;
  --s-p-bg: 90%;
  --l-p-bg: 57%;
  --a-p-bg: 100%;
  --hsl-primary-bg: var(--h-p-bg), var(--s-p-bg), var(--l-p-bg);
  --hsla-primary-bg: var(--hsl-primary-bg), var(--a-p-bg);
  --clr-primary-bg: hsla(var(--hsla-primary-bg));
  --h-p-fg: 0;
  --s-p-fg: 0%;
  --l-p-fg: 0%;
  --a-p-fg: 100%;
  --hsl-primary-fg: var(--h-p-fg), var(--s-p-fg), var(--l-p-fg);
  --hsla-primary-fg: var(--hsl-primary-fg), var(--a-p-fg);
  --clr-primary-fg: hsla(var(--hsla-primary-fg));
  --clr-body-bg: var(--clr-primary-bg);
  --clr-body: var(--clr-primary-fg);
  --clr-logo-bg: var(--clr-primary-fg);
  --clr-logo-primary: var(--clr-primary-bg);
  --clr-logo-secondary: var(--clr-primary-fg);
  --clr-radio-btn-bg: hsla(var(--hsla-primary-fg));
  --clr-content-bg-fade-from: rgba(185, 244, 47, 1);
  --clr-content-bg-fade-to: rgba(185, 244, 47, 0);
  --clr-scollbar: rgba(0, 0, 0, 0.1);
}

:root .theme {
  /* Dark Mode Theme Colours */
}

:root .theme--dark {
  --h-p-bg: 0;
  --s-p-bg: 0%;
  --l-p-bg: 7%;
  --a-p-bg: 100%;
  --hsl-primary-bg: var(--h-p-bg), var(--s-p-bg), var(--l-p-bg);
  --hsla-primary-bg: var(--hsl-primary-bg), var(--a-p-bg);
  --clr-primary-bg: hsla(var(--hsla-primary-bg));
  --h-p-fg: 78;
  --s-p-fg: 90%;
  --l-p-fg: 57%;
  --a-p-fg: 100%;
  --hsl-primary-fg: var(--h-p-fg), var(--s-p-fg), var(--l-p-fg);
  --hsla-primary-fg: var(--hsl-primary-fg), var(--a-p-fg);
  --clr-primary-fg: hsla(var(--hsla-primary-fg));
  --clr-body-bg: var(--clr-primary-bg);
  --clr-body: hsla(100, 100%, 100%, 100%);
  --clr-logo-bg: var(--clr-primary-fg);
  --clr-logo-primary: var(--clr-primary-bg);
  --clr-logo-secondary: var(--clr-primary-fg);
  --clr-radio-btn-bg: hsla(var(--hsla-primary-fg));
  --clr-content-bg-fade-from: rgba(18, 18, 18, 1);
  --clr-content-bg-fade-to: rgba(18, 18, 18, 0);
  --clr-scollbar: rgba(255, 255, 255, 0.1);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes logoIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 100%, 0);
            transform: translate3d(100%, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
            transform: translate3d(0%, 0%, 0);
  }
}

@keyframes logoIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 100%, 0);
            transform: translate3d(100%, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
            transform: translate3d(0%, 0%, 0);
  }
}

/*
This file is used to contain all base imports.
Files inside this folder can contain global styles used in the project.
*/
/* 
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Additonal Base Stylesheets */
/*
This file is used to contain all component imports.
Files inside this folder should contain all styles relating to a reusable component.
*/
a:focus {
  outline: 2px solid var(--clr-primary);
  outline-offset: 4px;
}

button:focus {
  -webkit-box-shadow: 0 0 0 4px white, 0 0 0 2px var(--clr-primary);
          box-shadow: 0 0 0 4px white, 0 0 0 2px var(--clr-primary);
}

::-moz-focus-inner {
  border: 0;
}

/* Additonal Component Stylesheets */
/*
This file is used to contain all component imports.
Files inside this folder can contain specific element styles and layout. 
*/
.switch__btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}

html {
  scroll-behavior: smooth;
}

.shadow__neu__volt--box {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  border-radius: 20px 20px 0px 20px;
  border: solid 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) - (10% * 0.7)), var(--a-p-bg)) !important;
  background-color: hsla(var(--h-p-bg), var(--s-p-bg), var(--l-p-bg), var(--a-p-bg));
  -webkit-box-shadow: 3px 3px calc(3px * 2) 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) - 10%), var(--a-p-bg)), calc(-1 * 3px) calc(-1 * 3px) calc(3px * 2) 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) + 10%), var(--a-p-bg));
          box-shadow: 3px 3px calc(3px * 2) 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) - 10%), var(--a-p-bg)), calc(-1 * 3px) calc(-1 * 3px) calc(3px * 2) 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) + 10%), var(--a-p-bg));
}

.shadow__neu__volt--box.inset {
  border-radius: 20px 20px 0px 20px;
  border: solid 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) - (10% * 0.7)), var(--a-p-bg)) !important;
  background-color: hsla(var(--h-p-bg), var(--s-p-bg), var(--l-p-bg), var(--a-p-bg));
  -webkit-box-shadow: inset 3px 3px calc(3px * 2) 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) - 10%), var(--a-p-bg)), inset calc(-1 * 3px) calc(-1 * 3px) calc(3px * 2) 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) + 10%), var(--a-p-bg));
          box-shadow: inset 3px 3px calc(3px * 2) 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) - 10%), var(--a-p-bg)), inset calc(-1 * 3px) calc(-1 * 3px) calc(3px * 2) 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) + 10%), var(--a-p-bg));
}

.shadow__neu__volt--radio {
  -webkit-transition: background-color 100ms var(--cb-smooth) 50ms;
  transition: background-color 100ms var(--cb-smooth) 50ms;
  cursor: pointer;
  width: 35px;
  height: 20px;
  border-radius: 20px;
  border: solid 1px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) - (10% * 0.7)), var(--a-p-bg)) !important;
  background-color: hsla(var(--h-p-bg), var(--s-p-bg), var(--l-p-bg), var(--a-p-bg));
  -webkit-box-shadow: 3px 3px calc(3px * 2) 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) - 10%), var(--a-p-bg)), calc(-1 * 3px) calc(-1 * 3px) calc(3px * 2) 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) + 10%), var(--a-p-bg));
          box-shadow: 3px 3px calc(3px * 2) 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) - 10%), var(--a-p-bg)), calc(-1 * 3px) calc(-1 * 3px) calc(3px * 2) 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) + 10%), var(--a-p-bg));
}

.shadow__neu__volt--radio:before {
  content: "";
  -webkit-transition: left 150ms var(--cb-smooth);
  transition: left 150ms var(--cb-smooth);
  position: absolute;
  height: 16px;
  width: 16px;
  left: 0;
  top: 0;
  margin: 2px;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  border-radius: 100%;
  border: solid 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) - (10% * 0.7)), var(--a-p-bg)) !important;
  background-color: hsla(var(--h-p-bg), var(--s-p-bg), var(--l-p-bg), var(--a-p-bg));
  -webkit-box-shadow: 3px 3px calc(3px * 2) 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) - 10%), var(--a-p-bg)), calc(-1 * 3px) calc(-1 * 3px) calc(3px * 2) 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) + 10%), var(--a-p-bg));
          box-shadow: 3px 3px calc(3px * 2) 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) - 10%), var(--a-p-bg)), calc(-1 * 3px) calc(-1 * 3px) calc(3px * 2) 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) + 10%), var(--a-p-bg));
  background-color: var(--clr-radio-btn-bg);
}

.shadow__neu__volt--radio.on:before {
  left: 15px;
}

.shadow__neu__volt--radio.inset {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  border-radius: 20px;
  border: solid 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) - (10% * 0.7)), var(--a-p-bg)) !important;
  background-color: hsla(var(--h-p-bg), var(--s-p-bg), var(--l-p-bg), var(--a-p-bg));
  -webkit-box-shadow: inset calc(-1 * 3px) 3px calc(3px * 2) 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) - 10%), var(--a-p-bg)), inset 3px calc(-1 * 3px) calc(3px * 2) 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) + 10%), var(--a-p-bg));
          box-shadow: inset calc(-1 * 3px) 3px calc(3px * 2) 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) - 10%), var(--a-p-bg)), inset 3px calc(-1 * 3px) calc(3px * 2) 0px hsla(var(--h-p-bg), var(--s-p-bg), calc(var(--l-p-bg) + 10%), var(--a-p-bg));
}

body {
  -webkit-transition: background-color 500ms var(--cb-smooth);
  transition: background-color 500ms var(--cb-smooth);
  font-family: var(--primary-font);
  font-size: 2rem;
  margin: var(--body-margin);
  background-color: var(--clr-body-bg);
  color: var(--clr-body);
}

h1 {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  padding-bottom: 10px;
}

p {
  font-size: 12px;
  line-height: 17px;
  padding-bottom: 5px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "content" "footer";
  grid-gap: 0px;
  -webkit-transition: color 500ms var(--cb-smooth);
  transition: color 500ms var(--cb-smooth);
  min-width: calc( var(--body-min-width) - (var(--body-margin) * 2) - (var(--body-border) * 2));
  max-width: var(--body-max-width);
  height: var(--body-height);
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  position: relative;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  /* Overrides for neumorphism shadow border effects. */
  border-width: var(--body-border);
  border-radius: 20px 20px 0px 20px;
}

.grid-container__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  margin: var(--gc_header_margin);
  padding: var(--gc_header_padding);
  height: var(--gc_header_height);
  z-index: 100;
}

.grid-container__content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--clr-scollbar) transparent;
  height: calc(var(--body-height) - var(--gc_header_height_total) - var(--gc_footer_height_total));
  z-index: 90;
}

.grid-container__content::-webkit-scrollbar {
  background-color: transparent;
}

.grid-container__content::-webkit-scrollbar-thumb {
  background-color: var(--clr-scollbar);
  border-radius: 10px;
}

.grid-container__content:before {
  content: "";
  background: webkit-linear-gradient(180deg, var(--clr-content-bg-fade-from), var(--clr-content-bg-fade-to));
  background: -webkit-gradient(linear, left top, left bottom, from(var(--clr-content-bg-fade-from)), to(var(--clr-content-bg-fade-to)));
  background: linear-gradient(180deg, var(--clr-content-bg-fade-from), var(--clr-content-bg-fade-to));
  top: calc(-1 * (var(--gc_header_height) / 2));
  width: 100%;
  height: 100px;
  position: absolute;
}

.grid-container__content:after {
  content: "";
  background: webkit-linear-gradient(180deg, var(--clr-content-bg-fade-to), var(--clr-content-bg-fade-from));
  background: -webkit-gradient(linear, left top, left bottom, from(var(--clr-content-bg-fade-to)), to(var(--clr-content-bg-fade-from)));
  background: linear-gradient(180deg, var(--clr-content-bg-fade-to), var(--clr-content-bg-fade-from));
  bottom: 0;
  width: 100%;
  height: 100px;
  position: absolute;
}

.grid-container__content__section {
  height: 100%;
  padding: 0px 20px;
}

.grid-container__footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  margin: var(--gc_footer_margin);
  padding: var(--gc_footer_padding);
  height: var(--gc_footer_height);
  z-index: 80;
}

@media (min-width: 1025px) {
  .grid-container {
    border-radius: 20px !important;
  }
}

.logo__container {
  -webkit-animation-name: logoIn;
          animation-name: logoIn;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  background: var(--clr-logo-bg);
  position: absolute;
  right: calc(-1 * var(--body-border));
  bottom: calc(-1 * var(--body-border));
  height: var(--logo-width);
  width: var(--logo-height);
  -webkit-clip-path: polygon(100% 0px, 0px 100%, 100% 100%);
          clip-path: polygon(100% 0px, 0px 100%, 100% 100%);
  overflow: hidden;
  z-index: 110;
}

@media (min-width: 1025px) {
  .logo__container {
    position: fixed;
  }
}

.logo__container svg {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: var(--logo-width);
  position: absolute;
  bottom: 29px;
  right: -17px;
}

.logo__container svg #Logo_78 {
  -webkit-transition: fill 500ms var(--cb-smooth);
  transition: fill 500ms var(--cb-smooth);
  fill: var(--clr-logo-primary) !important;
}

.logo__container svg #Logo_G path {
  -webkit-transition: fill 250ms var(--cb-smooth);
  transition: fill 250ms var(--cb-smooth);
  fill: var(--clr-logo-primary) !important;
}

.logo__container svg #Logo_S path {
  -webkit-transition: fill 250ms var(--cb-smooth);
  transition: fill 250ms var(--cb-smooth);
  fill: var(--clr-logo-primary) !important;
}
