html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--primary-font);
	font-size: 2rem;

	background-color: var(--clr-volt);
	color: var(--clr-black);

	margin: var(--body-margin);
}

.grid-container {
	&__header {
		grid-area: header;
		padding: 10px;
	}
	&__content {
		grid-area: content;
		padding: 10px;
	}
	&__footer {
		grid-area: footer;
		padding: 10px;
	}
}

.grid-container {
	display: grid;
	grid-template-areas:
		"header"
		"content"
		"footer";
	grid-gap: 0px;

	max-width: 1440px;
	height: calc(100vh - (var(--body-margin) * 2) - (var(--body-border) * 2));

	margin: 0 auto;
	padding: 0;

	border: solid var(--body-border) var(--clr-adobe-volt-shades-e);
	border-radius: 17px 17px 0px 17px;
	box-shadow: 3px 3px 6px var(--clr-adobe-volt-shades-a),
		-3px -3px 6px var(--clr-adobe-volt-shades-e) !important;

	position: relative;
}

.container {
	&__logo {
		background: var(--clr-black);
		position: absolute;
		right: calc(-1 * var(--body-border));
		bottom: calc(-1 * var(--body-border));

		height: 129px;
		width: 129px;

		clip-path: polygon(100% 0px, 0px 100%, 100% 100%);

		overflow: hidden;

		svg {
			transform: rotate(-45deg);
			width: var(--logo-width);
			position: absolute;
			bottom: 40px;
			right: -22px;

			#Logo_78 {
				path {
				}
			}
			#Logo_G {
				path {
				}
			}
			#Logo_S {
				path {
				}
			}
		}
	}
}
