html {
	scroll-behavior: smooth;
}

.shadow {
	&__neu {
		&__volt {
			&--box {
				@include neu(var(--h-p-bg), var(--s-p-bg), var(--l-p-bg), var(--a-p-bg), 0px);

				&.inset {
					@include neu(var(--h-p-bg), var(--s-p-bg), var(--l-p-bg), var(--a-p-bg), 1px, true);
				}
			}

			&--radio {
				transition: background-color 100ms var(--cb-smooth) 50ms;

				cursor: pointer;

				width: 35px;
				height: 20px;
				@include neu(var(--h-p-bg), var(--s-p-bg), var(--l-p-bg), var(--a-p-bg));

				&:before {
					content: "";

					transition: left 150ms var(--cb-smooth);

					position: absolute;
					height: 16px;
					width: 16px;
					left: 0;
					top: 0;
					margin: 2px;
					
					@include neu(var(--h-p-bg), var(--s-p-bg), var(--l-p-bg), var(--a-p-bg), 0px, false, 100%);
					background-color: var(--clr-radio-btn-bg);
				}

				&.on {
					&:before {
						left: 15px;
					}
				}

				&.inset {					
					@include neu(var(--h-p-bg), var(--s-p-bg), var(--l-p-bg), var(--a-p-bg), 0px, true, 20px, 3px, 1);
				}
			}
		}
	}
}

body {
	transition: background-color 500ms var(--cb-smooth);

	font-family: var(--primary-font);
	font-size: 2rem;
	margin: var(--body-margin);

	background-color: var(--clr-body-bg);	
	color: var(--clr-body);
}

h1 {
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
	padding-bottom: 10px;
}
p {
	font-size: 12px;
	line-height: 17px;
	padding-bottom: 5px;
}

.grid-container {
	&__header {
		grid-area: header;
		padding: 0px;
		height: 40px;
	}
	&__content {
		grid-area: content;
		padding: 0px 20px;
	}
	&__footer {
		grid-area: footer;
		padding: 0px;
		height: var(--logo-height);
	}
	display: grid;
	grid-template-areas:
		"header"
		"content"
		"footer";
	grid-gap: 0px;

	transition: color 500ms var(--cb-smooth);

	min-width: calc(
		var(--body-min-width) - (var(--body-margin) * 2) -
			(var(--body-border) * 2)
	);
	max-width: var(--body-max-width);
	min-height: 500px;
	//height: calc(80vh - (var(--body-margin) * 2) - (var(--body-border) * 2));
	margin: 0 auto;
	padding: 0;
	position: relative;

	/* Overrides for neumorphism shadow border effects. */
	border-width: var(--body-border);
	border-radius: 17px 17px 0px 17px;
}

.logo {
	&__container {
		background: var(--clr-logo-bg);
		position: absolute;
		right: calc(-1 * var(--body-border));
		bottom: calc(-1 * var(--body-border));

		height: var(--logo-width);
		width: var(--logo-height);

		clip-path: polygon(100% 0px, 0px 100%, 100% 100%);

		overflow: hidden;

		svg {
			transform: rotate(-45deg);
			width: var(--logo-width);
			position: absolute;
			bottom: 29px;
			right: -17px;

			#Logo_78 {
				transition: fill 500ms var(--cb-smooth);
				fill: var(--clr-logo-primary) !important;
			}
			#Logo_G {
				path {
					transition: fill 250ms var(--cb-smooth);
					fill: var(--clr-logo-primary) !important;
				}
			}
			#Logo_S {
				path {
					transition: fill 250ms var(--cb-smooth);
					fill: var(--clr-logo-primary) !important;
				}
			}
		}
	}
}