html {
	scroll-behavior: smooth;
}

.shadow {
	&__neu {
		&__volt {
			&--container {
				border: solid 1px var(--clr-neu-shadow-border);
				border-radius: 17px;
				box-shadow: 10px 10px 20px var(--clr-neu-shadow-br),
					-10px -10px 20px var(--clr-neu-shadow-tl);
				&.inset {
					box-shadow: inset 10px 10px 20px var(--clr-neu-shadow-br),
						inset -10px -10px 20px var(--clr-neu-shadow-tl);
				}
			}
			&--radio {
				width: 35px;
				height: 20px;
				border: solid 1px var(--clr-neu-shadow-border);
				border-radius: 20px;
				box-shadow: 3px 3px 6px var(--clr-neu-shadow-br),
					-3px -3px 6px rgba(255, 255, 255, 1);
				//box-shadow: 2px 2px 4px #b8b9be,-2px -2px 4px #fff;

				&:before {
					content: "";
					height: 16px;
					width: 16px;
					position: absolute;
					left: 0;
					top: 0;
					margin: 1px;
					border-radius: 100%;
					border: solid 1px var(--clr-volt);
					background-color: var(--clr-black);
					box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8),
						-2px -2px 4px var(--clr-neu-shadow-br);
				}
				&.on:before {
					left: unset;
					right: 0;
				}

				&.inset {
					&:before {
						box-shadow: 2px 2px 4px var(--clr-neu-shadow-br),
							-2px -2px 4px rgba(255, 255, 255, 0.8);
					}

					box-shadow: inset 3px 3px 6px var(--clr-neu-shadow-br),
						inset -3px -3px 6px rgba(255, 255, 255, 0.8);
				}
			}
		}
	}
}

body {
	font-family: var(--primary-font);
	font-size: 2rem;

	background-color: var(--clr-body-bg);
	color: var(--clr-body);

	margin: var(--body-margin);
}

.grid-container {
	&.__header {
		grid-area: header;
		padding: 10px;
	}
	&__content {
		grid-area: content;
		padding: 10px;
	}
	&__footer {
		grid-area: footer;
		padding: 10px;
	}
	display: grid;
	grid-template-areas:
		"header"
		"content"
		"footer";
	grid-gap: 0px;

	max-width: var(--body-max-width);
	min-height: 50vh;
	//height: calc(100vh - (var(--body-margin) * 2) - (var(--body-border) * 2));
	margin: 0 auto;
	padding: 0;
	position: relative;

	background-color: var(--clr-gird-container-bg);

	/* Overrides for neumorphism shadow border effects. */
	border: solid var(--body-border) var(--clr-neu-shadow-border);
	border-radius: 17px 17px 0px 17px;
	box-shadow: var(--neu-shadow-tl--container) var(--clr-neu-shadow-tl),
		var(--neu-shadow-br--container) var(--clr-neu-shadow-br);
	&.inset {
		box-shadow: inset var(--neu-shadow-tl--container)
				var(--clr-neu-shadow-tl),
			inset var(--neu-shadow-br--container) var(--clr-neu-shadow-br);
	}
}

.logo {
	&__container {
		background: var(--clr-logo-bg);
		position: absolute;
		right: calc(-1 * var(--body-border));
		bottom: calc(-1 * var(--body-border));

		height: 129px;
		width: 129px;

		clip-path: polygon(100% 0px, 0px 100%, 100% 100%);

		overflow: hidden;

		svg {
			transform: rotate(-45deg);
			width: var(--logo-width);
			position: absolute;
			bottom: 40px;
			right: -22px;

			#Logo_78 {
				fill: var(--clr-logo-primary) !important;
				path {
				}
			}
			#Logo_G {
				path {
					fill: var(--clr-logo-primary) !important;
				}
			}
			#Logo_S {
				path {
					fill: var(--clr-logo-primary) !important;
				}
			}
		}
	}
}
