:root {
	--primary-font: Verdana, sans-serif;

	--body-max-width: 1024px;
	--body-margin: 20px;
	--body-border: 0px;
	--logo-width: 125px;

	--cb-smooth: cubic-bezier(0.27, 0.01, 0.38, 1.06);

	--clr-black: #000000;
	--clr-white: #ffffff;

	/* https://color.adobe.com/create/color-wheel */
	--clr-volt: #d5fb46ff;
	--clr-adobe-volt-shades-a: #9dba34;
	--clr-adobe-volt-shades-b: #677a22;
	--clr-adobe-volt-shades-c: #d5fb46;
	--clr-adobe-volt-shades-d: #323b10;
	--clr-adobe-volt-shades-e: #bde03f;

	.mode {
		/* Light Mode Colours */
		&--light {
			--clr-body-bg: var(--clr-volt);
			--clr-body: var(--clr-black);

			--neu-container-bg-clr: var(--clr-volt);
			--neu-container-bdr: solid 1px rgba(221, 252, 110, 0.7);
			--neu-container-bxsdw: 10px 10px 20px #bde03f,	-10px -10px 20px rgb(224, 255, 111);
			--neu-container-bxsdw-inset: inset 10px 10px 20px #bde03f, inset -10px -10px 20px rgb(224, 255, 111);		

			--neu-radio-bdr: solid 1px rgba(221, 252, 110, 0.7);

			

			--clr-neu-shadow-tl: rgb(224, 255, 111);
			--clr-neu-shadow-br: #bde03f;
			--clr-neu-shadow-border: rgba(221, 252, 110, 0.7);

			--clr-logo-bg: var(--clr-black);
			--clr-logo-primary: var(--clr-volt);
			--clr-logo-secondary: var(--clr-black);

			--clr-radio-bdr: var(--clr-volt);
			--clr-radio-bg: var(--clr-black);

			--clr-radio-shadow: inset 1px 1px 2px var(--clr-neu-shadow-br), inset -1px -1px 2px rgba(255, 255, 255, 0.4);
		}

		/* Dark Mode Colours */
		&--dark {
			--clr-body-bg: var(--clr-black);
			--clr-body: var(--clr-volt);

			--neu-container-bg-clr: var(--clr-black);
			--neu-container-bdr: solid 1px rgba(30, 30, 30, 0.4);
			--neu-container-bxsdw: 10px 10px 20px rgba(30, 30, 30, 0.4), -10px -10px 20px rgba(30, 30, 30, 0.7);
			--neu-container-bxsdw-inset: inset 10px 10px 20px rgba(30, 30, 30, 0.4), inset -10px -10px 20px rgba(30, 30, 30, 0.7);



			--clr-neu-shadow-tl: rgba(30, 30, 30, 0.7);
			--clr-neu-shadow-br: rgba(30, 30, 30, 0.4);
			--clr-neu-shadow-border: rgba(30, 30, 30, 0.7);

			--clr-logo-bg: var(--clr-volt);
			--clr-logo-primary: var(--clr-black);
			--clr-logo-secondary: var(--clr-volt);

			--clr-radio-bdr: var(--clr-black);
			--clr-radio-bg: var(--clr-volt);

			--clr-radio-shadow: inset 1px 1px 2px var(--clr-neu-shadow-br), inset -1px -1px 2px rgba(255, 255, 255, 0.4);
			
		}
	}
}
