* {
	--primary-font: Verdana, sans-serif;

	--clr-black: #000000;
	--clr-white: #ffffff;

	/* https://color.adobe.com/create/color-wheel */
	--clr-volt: #d5fb46ff;
	--clr-adobe-volt-shades-a: #9dba34;
	--clr-adobe-volt-shades-b: #677a22;
	--clr-adobe-volt-shades-c: #d5fb46;
	--clr-adobe-volt-shades-d: #323b10;
	--clr-adobe-volt-shades-e: #bde03f;

	--body-margin: 20px;
	--body-border: 0px;
	--logo-width: 125px;
}
