:root {
	--primary-font: Verdana, sans-serif;

	--body-min-width: 375px;
	--body-max-width: 1024px;
	--body-margin: 20px;
	--body-border: 0px;
	--logo-width: 100px;
	--logo-height: var(--logo-width);
	--logo-switch-width: 500px;

	--cb-smooth: cubic-bezier(0.27, 0.01, 0.38, 1.06);

	--clr-black: hsla(0, 0%, 0%, 100%);
	--clr-white: hsla(0, 0%, 100%, 100%);

	/* Light Mode Theme Colours */
	--h-p-bg: 78;
	--s-p-bg: 90%;
	--l-p-bg: 57%;
	--a-p-bg: 100%;
	--hsl-primary-bg: var(--h-p-bg), var(--s-p-bg), var(--l-p-bg);
	--hsla-primary-bg: var(--hsl-primary-bg), var(--a-p-bg);
	--clr-primary-bg: hsla(var(--hsla-primary-bg));

	--h-p-fg: 0;
	--s-p-fg: 0%;
	--l-p-fg: 0%;
	--a-p-fg: 100%;
	--hsl-primary-fg: var(--h-p-fg), var(--s-p-fg), var(--l-p-fg);
	--hsla-primary-fg: var(--hsl-primary-fg), var(--a-p-fg);
	--clr-primary-fg: hsla(var(--hsla-primary-fg));

	--clr-body-bg: var(--clr-primary-bg);
	--clr-body: var(--clr-primary-fg);
	--clr-logo-bg: var(--clr-primary-fg);
	--clr-logo-primary: var(--clr-primary-bg);
	--clr-logo-secondary: var(--clr-primary-fg);
	--clr-radio-btn-bg: hsla(var(--hsla-primary-fg));

	--clr-scollbar: rgba(0, 0, 0, 0.1) transparent;

	.theme {
		/* Dark Mode Theme Colours */
		&--dark {
			--h-p-bg: 0;
			--s-p-bg: 0%;
			--l-p-bg: 7%;
			--a-p-bg: 100%;
			--hsl-primary-bg: var(--h-p-bg), var(--s-p-bg), var(--l-p-bg);
			--hsla-primary-bg: var(--hsl-primary-bg), var(--a-p-bg);
			--clr-primary-bg: hsla(var(--hsla-primary-bg));

			--h-p-fg: 78;
			--s-p-fg: 90%;
			--l-p-fg: 57%;
			--a-p-fg: 100%;
			--hsl-primary-fg: var(--h-p-fg), var(--s-p-fg), var(--l-p-fg);
			--hsla-primary-fg: var(--hsl-primary-fg), var(--a-p-fg);
			--clr-primary-fg: hsla(var(--hsla-primary-fg));

			--clr-body-bg: var(--clr-primary-bg);
			--clr-body: var(--clr-primary-fg);
			--clr-logo-bg: var(--clr-primary-fg);
			--clr-logo-primary: var(--clr-primary-bg);
			--clr-logo-secondary: var(--clr-primary-fg);
			--clr-radio-btn-bg: hsla(var(--hsla-primary-fg));

			--clr-scollbar: rgba(255, 255, 255, 0.1) transparent;
		}
	}
}