@mixin neuShadow(
	$borderRadius,
	$backgroundColor,
	$borderSize,
	$borderColor,
	$offSetMax,
    $topLeftSpread,
	$topLeftBlurColor,
    $bottomRightSpread,
	$bottomRightBlurColor,
	$inset: false
) {
	@if $borderRadius {
		border-radius: $borderRadius;
	}
	@if $backgroundColor {
		background-color: $backgroundColor;
	}
	@if $borderSize and $borderColor {
		border: solid $borderSize $borderColor;
	}
	@if $inset {
		box-shadow: inset calc(#{$offSetMax} / 2) calc(#{$offSetMax} / 2) $offSetMax $bottomRightSpread $bottomRightBlurColor,
			        inset calc(-1 * (#{$offSetMax} / 2)) calc(-1 * (#{$offSetMax} / 2)) $offSetMax $topLeftSpread $topLeftBlurColor;
	} @else {
		box-shadow: calc(#{$offSetMax} / 2) calc(#{$offSetMax} / 2) $offSetMax $bottomRightSpread $bottomRightBlurColor,
			        calc(-1 * (#{$offSetMax} / 2)) calc(-1 * (#{$offSetMax} / 2)) $offSetMax $topLeftSpread $topLeftBlurColor;
	}
}
